// Color Chart
$color1: #ac7088;
$color2: #deb6ab;
$color3: #ecccb2;
$color4: #f5e8c7;
// 무지개 애니메이션
a:hover,
a:focus {
  animation-duration: 3s;
  animation-name: rainbowLink;
  animation-iteration-count: infinite;
}
@keyframes rainbowLink {
  100%,
  0% {
    color: rgb(255, 0, 0);
  }
  8% {
    color: rgb(255, 127, 0);
  }
  16% {
    color: rgb(255, 255, 0);
  }
  25% {
    color: rgb(127, 255, 0);
  }
  33% {
    color: rgb(0, 255, 0);
  }
  41% {
    color: rgb(0, 255, 127);
  }
  50% {
    color: rgb(0, 255, 255);
  }
  58% {
    color: rgb(0, 127, 255);
  }
  66% {
    color: rgb(0, 0, 255);
  }
  75% {
    color: rgb(127, 0, 255);
  }
  83% {
    color: rgb(255, 0, 255);
  }
  91% {
    color: rgb(255, 0, 127);
  }
}
